.card {
  width: 250px;
  min-width: 250px;
  min-height: 300px;
  margin: 10px;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 0 5px 2px #80808024;
  cursor: pointer;
  transition: ease-in-out 0.15s;
  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: scale(1.01);
}

.full-image {
  max-width: 100%;
  min-width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.card-details {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
